@media screen and (min-width:500px){
html {
  height: 100%;
  background-color: #2F3035;
  background-image: url(pool_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  min-width: 1024px;
  min-height: 768px;
}
body{
  padding-top: 120px;
  height:95%
}
.container {
  width: 90%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  border-top: black;
  background-color: rgb(7, 37, 168,0.7);
  background-size: cover;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  align-items: center;
  text-align: center;
}

footer p{
  color:white;
}
}

@media screen and (max-width:500px){
  html {
    height: 100%;
    background-color: #2F3035;
    background-image: url(pool_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    position: relative;
    min-width: 1024px;
    min-height: 768px;
  }
  body{
    padding-top: 120px;
    height:95%
  }
  .container {
    width: 38%;
    height: 70%;
    margin-left: 15px;
  }
  
  footer {
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    border-top: black;
    background-color: rgb(7, 37, 168,0.7);
    background-size: cover;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    align-items: center;
    text-align: center;
  }
  
  footer p{
    color:white;
  }
  }