html {
    height: 100%;
    background-color: #2F3035;
    background-image: url(vs_blpool.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
    position: relative;
    min-width: 1024px;
    min-height: 768px;
}
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    border-top: black;
    background-color: rgb(7, 37, 168,0.7);
    background-size: cover;
    left: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    text-align: center;
}

footer p{
    color:white;
}

.main-container{
    display: absolute;
    margin-top: 150px;
    background-color: rgba(255,255,255,0.7);;
    font-family: TradeGothic, sans-serif;
    height: 400px;
    width: 1024px;
    text-align: center;
}

/* @media screen and (max-width:900px) and (min-width: 770px){
    .main-container{
        display: absolute;
        font-family: TradeGothic, sans-serif;
        width: 512px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media screen and (max-width:770px) and (min-width: 400px){
    .container main{
        display: inline-block;
        font-family: TradeGothic, sans-serif;
        margin-top: 70px;
        width: 256px;
        height: 400px;
    }
    .main-container{
        display: inline-block;
        margin-top: 70px;
        width: 256px;
        height: 400px;
    }
}

@media screen and (max-width:399px){
    .container main{
        display: inline-block;
        font-family: TradeGothic, sans-serif;
        margin-top: 70px;
        width: 500px;
        height: 400px;
    }
    .main-container{
        display: inline-block;
        margin-top: 70px;
        width: 500px;
        height: 400px;
    }
} */

form {
    margin: auto;
    
}

.email {
    margin: auto;
}
